<div class="text-gray-500 text-center font-bold h-1 pb-10 ">
    Featured Products
</div>
<div class="mx-auto">
  <div class="grid grid-cols-4 md:grid-cols-4 text-center">
    <div class="w-full md:w-2 px-2 mb-4">
        <div class="bg-white rounded shadow py-2">
            <img src="../../../assets/images/products/coffee-jelly.png" /> 
          <p class="text-gray-800 text-base px-6 mb-5">Product 1</p>
          <p class="text-gray-500 text-xs md:text-sm px-6">Price</p>
        </div>
      </div>
      <div class="w-full md:w-2 px-2 mb-4">
        <div class="bg-white rounded shadow py-2">
            <img src="../../../assets/images/products/coffee-jelly.png"  /> 
            <p class="text-gray-800 text-base px-6 mb-5">Product 2</p>
            <p class="text-gray-500 text-xs md:text-sm px-6">Price</p>
        </div>
      </div>
      <div class="w-full md:w-2 px-2 mb-4">
        <div class="bg-white rounded shadow py-2">
            <img src="../../../assets/images/products/coffee-jelly.png" /> 
            <p class="text-gray-800 text-base px-6 mb-5">Product 3</p>
          <p class="text-gray-500 text-xs md:text-sm px-6">Price</p>
        </div>
      </div>
      <div class="w-full md:w-2 px-2 mb-4">
        <div class="bg-white rounded shadow py-2">
            <img src="../../../assets/images/products/coffee-jelly.png" /> 
            <p class="text-gray-800 text-base px-6 mb-5">Product 4</p>
          <p class="text-gray-500 text-xs md:text-sm px-6">Price</p>
        </div>
      </div>
  </div>
</div>
